/*paleta de colores y general*/
:root {
    --rojouleam: rgb(227, 6, 20);
    --verdeuleam: rgb(149, 193, 31);
    --grisuleam: rgb(243, 243, 243);
    --oscuro: rgb(22, 28, 39);
    --blanco: rgb(255, 255, 255);
    --bordes: rgb(223, 222, 218);
}

body {
    font-family: 'comic neue', sans-serif;
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    margin: 0;
}

img {
    max-width: 100%;
}


/*Todo para el header y footer*/
header {
    display: grid;
    grid-template-columns: 70% 25% 5%;
}

footer {
    font-size: 10px;
    background-color: var(--oscuro);
    color: var(--grisuleam);
}

.logo {
    width: 100px;
    margin-left: 20px;
}

footer p {
    margin-left: 20px;
}

.contenido a {
    text-decoration: none;
    color: var(--oscuro);
}

.trabajos {
    margin-top: 35px;
}

/*estilo de todo el main*/
main {
    background-color: var(--grisuleam);
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.principal {
    display: grid;
    grid-template-columns: 20% 78%;
    grid-gap: 1em;
    width: 1300px;
}

h2 {
    text-align: center;
}

.centro,
.izquierda {
    background-color: var(--blanco);
    border: 1px solid var(--bordes);
    padding: 10px;
    margin-top: 10px;
    border-radius: 40px;
}

/*derecha*/
.ofertas {
    margin-top: 20px;
    width: 650px;
}

.centro {
    display: flex;
    justify-content: center;
}

h3 {
    margin-top: 20px;
}



/*izquierda*/
.izquierda {
    margin-left: 10px;
    height: 300px;
}

.usuario {
    width: 60px;
    margin-left: 80px;
    margin-top: 20px;
}

.contenido {
    margin-left: 30px;
    margin-top: 10px;
}